<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div>
      <h1>Welcome to chat App</h1>
    </div>
    <div>
      <h3>Messages appear here</h3>
      <div id="msg_div">
        <div id="msg">
          <p>hii</p>
        </div>
      </div>
    </div>
    <form action="/">
      <input type="text" id="input" placeholder="name" />
      <button id="submit">Submit</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="home.js"></script>
  </body>
</html>
